/*
!.gitignore

!driver/*

!peripherals/
!peripherals/*/
peripherals/*/build

!protocols/
!protocols/*/
protocols/*/build

!system/
!system/*/
system/*/build

!export_.bat
!rmaker.cmd
!LICENSE
!README.md


!SortableQueue_test/
SortableQueue_test/*
!SortableQueue_test/*.hpp
!SortableQueue_test/*.cpp
!SortableQueue_test/*.h
!SortableQueue_test/*.c

!ConsoleProgram/
ConsoleProgram/*
!ConsoleProgram/*.hpp
!ConsoleProgram/*.cpp
!ConsoleProgram/*.h
!ConsoleProgram/*.c

!Due_App_test/
Due_App_test/*
!Due_App_test/*.hpp
!Due_App_test/*.cpp
!Due_App_test/*.h
!Due_App_test/*.c
!Due_App_test/*.ino

!Logging_test/
Logging_test/*
!Logging_test/*.hpp
!Logging_test/*.cpp
!Logging_test/*.h
!Logging_test/*.c
!Logging_test/*.ino

!TouchLCD_test/
TouchLCD_test/*
!TouchLCD_test/*.hpp
!TouchLCD_test/*.cpp
!TouchLCD_test/*.h
!TouchLCD_test/*.c
!TouchLCD_test/*.ino

!Ethernet_Email_TCP_UDP/
Ethernet_Email_TCP_UDP/*
!Ethernet_Email_TCP_UDP/*.hpp
!Ethernet_Email_TCP_UDP/*.cpp
!Ethernet_Email_TCP_UDP/*.h
!Ethernet_Email_TCP_UDP/*.c
!Ethernet_Email_TCP_UDP/*.ino

!USBKeyBoard_test/
USBKeyBoard_test/*
!USBKeyBoard_test/*.hpp
!USBKeyBoard_test/*.cpp
!USBKeyBoard_test/*.h
!USBKeyBoard_test/*.c
!USBKeyBoard_test/*.ino

!Fona3G_test/
Fona3G_test/*
!Fona3G_test/*.hpp
!Fona3G_test/*.cpp
!Fona3G_test/*.h
!Fona3G_test/*.c
!Fona3G_test/*.ino

!Interface2DeviceTest/
Interface2DeviceTest/*
!Interface2DeviceTest/*.hpp
!Interface2DeviceTest/*.cpp
!Interface2DeviceTest/*.h
!Interface2DeviceTest/*.c
!Interface2DeviceTest/*.ino

!ESp32_WebServer/
ESp32_WebServer/*
!ESp32_WebServer/*.hpp
!ESp32_WebServer/*.cpp
!ESp32_WebServer/*.h
!ESp32_WebServer/*.c
!ESp32_WebServer/*.ino

!I2CDueServerTest/
I2CDueServerTest/*
!I2CDueServerTest/*.hpp
!I2CDueServerTest/*.cpp
!I2CDueServerTest/*.h
!I2CDueServerTest/*.c
!I2CDueServerTest/*.ino

!PagingSystem_v00/
PagingSystem_v00/*
!PagingSystem_v00/*.hpp
!PagingSystem_v00/*.cpp
!PagingSystem_v00/*.h
!PagingSystem_v00/*.c
!PagingSystem_v00/*.ino

!ESP32_UnipageV3/
ESP32_UnipageV3/*
!ESP32_UnipageV3/*.hpp
!ESP32_UnipageV3/*.cpp
!ESP32_UnipageV3/*.h
!ESP32_UnipageV3/*.c
!ESP32_UnipageV3/*.ino

!scripts/
scripts/node_modules
scripts/web/*.set
scripts/web_V3/*.set
scripts/web/node_modules
scripts/web_V3/node_modules
scripts/Arduino_web/data/
scripts/Arduino_v3lite/data/
scripts/tmp
